<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
<title>Home Page</title>

</head>
<body>
	<h1>Shopping List</h1>
	<p>This is an unsecured page, but you can access the secured pages after authenticating. </p>
	<p>Navigate to the secured pages by clicking
	<a href="/secure" th:href="@{/secure}">here</a>.</p>
	<p>Guests may log-in using user, "guest@guest.com" and password, "password"</p>
	<div sec:authorize="isAuthenticated()">
		User Name: <span> sec:authentication="name"</span><br>
		Roles: <span sec:authentication="principal.authorities"></span><br><br>
		
		<div>
			<form method="get" action="#" th:action="@{/logout}">
				<input type="submit" value="Logout" />
			</form>
		</div>
	</div>
</body>
</html>